<!-- Start Copyright Area -->
<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <div class="row align-items-left">
                <div class="col-lg-6 col-md-6 left-column">
                    <ul>
                        <li><a href="#">Thuis</a></li>
                        <li><a href="#">Nieuws</a></li>
                        <li><a href="#">Programmering</a></li>
                        <li><a href="#">Informatie</a></li>
                        <li><a href="#">Sponsoren</a></li>
                    </ul>

                    <p>
                        Copyright © 2022 Stichting NYCE
                    </p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>
                            <a href="terms-of-service.html">Terms of Service</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="mailto:info@loungefest.nl">info@loungefest.nl</a>
                        </li>
                        <li>
                            <a href="tel:0627454216">06 - 274 542 16</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/loungefestnwh/">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/loungefest.nl/">Instagram</a>
                        </li>
                    </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright Area -->