<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="/css/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="/css/odometer.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="/css/slick.min.css">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Adobe font -->
    <link rel="stylesheet" href="https://use.typekit.net/mhh6klp.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <title>{{ metadata.title }}</title>

    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
