<!-- Start Navbar Area -->
<div class="navbar-area">
  <div class="main-responsive-nav">
    <div class="container">
      <div class="main-responsive-menu row">
        <div class="logo col">
          <a href="/">
            <img src="/static/img/logo.svg" alt="logo">
          </a>
        </div>
                  <!--
        <div class="option-item price-mobile-btn col">
          <a href="/kaartverkoop" class="default-btn">Tickets kopen!<span></span></a>
        </div>
            -->
      </div>
    </div>
  </div>

  <div class="main-navbar">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">
          <img src="/static/img/logo.svg" alt="logo">
        </a>

        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
{#            <li class="nav-item">#}
{#              <a href="/nieuws" class="nav-link {% if '/nieuws' in page.url %}active{% endif %}">Nieuws</a>#}
{#            </li>#}

            <li class="nav-item">
              <a href="/programma" class="nav-link {% if '/programma' in page.url %}active{% endif %}">Programma</a>
            </li>

            <li class="nav-item">
              <a href="/sponsors" class="nav-link {% if '/sponsors' in page.url %}active{% endif %}">Sponsors</a>
            </li>

            <li class="nav-item">
              <a href="/ons-verhaal" class="nav-link {% if '/ons-verhaal' in page.url %}active{% endif %}">Ons Verhaal</a>
            </li>

            <li class="nav-item">
              <a href="/info" class="nav-link {% if '/info' in page.url %}active{% endif %}">Informatie</a>
            </li>
          </ul>

          <div class="others-options d-flex align-items-center">
          <!--
            <div class="option-item">
              <a href="/kaartverkoop" class="default-btn">Tickets kopen!<span></span></a>
            </div>
            -->
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End Navbar Area -->
