<section>
	<div class="blog-area pt-100 pb-100">
		<div class="container">
			<div class="section-title">
				<h2>{{ title }}</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco.</p>
			</div>

			<div class="row justify-content-center">
				{% for post in nieuwslist | reverse %}
					<article class="col-lg-4 col-md-6">
						<a href="{{ post.url | url }}">
							<div class="single-blog">

								<div class="blog-content">
									<h3>
											{% if post.data.title %}
												{{ post.data.title }}
											{% else %}
												Untitled
											{% endif %}
									</h3>

									{% if post.data.summary %}
										<p>
											{{ post.data.summary }}
										</p>
									{% endif %}

									<ul class="blog-box-footer d-flex justify-content-between align-items-center">
										<li>
											<i class='bx bx-calendar'></i> {{ post.date | readableDate }}
										</li>
									</ul>
								</div>
							</div>
						</a>
					</article>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
