---
layout: layouts/base.njk
section: page
---
<!-- Start Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>404 - Pagina niet gevonden</h2>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Start Error Area -->
<div class="error-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <p>De opgevraagde pagina bestaat niet (meer).</p>

                    <a href="index.html" class="default-btn">Terug naar huis!<span></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Error Area -->