---
layout: layouts/base.njk
section: artists
---

<!-- Start Page Banner -->
<div class="artist-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Programma</h2>
        </div>
    </div>
</div>
<!-- End Page Banner -->

{% set artistlist = collections.artist %}

<!-- Start Speakers Area -->
<div class="speakers-area ptb-100">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col">
                <button class="btn btn-small btn-primary" data-toggle="portfilter" data-target="all">
                    Alles
                </button>
                <button class="btn btn-small btn-primary" data-toggle="portfilter" data-target="vrijdag">
                    Vrijdag
                </button>
                <button class="btn btn-small btn-primary" data-toggle="portfilter" data-target="zaterdag">
                    Zaterdag
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for artist in artistlist %}
                <div class="col-md-6 speaker-wrapper" data-tag="{{ artist.data.day }}">
                    <a href="{{ artist.url }}" class="single-speakers-box" style="background-image: url('{{ artist.data.image }}');">
                        <div class="speakers-content">
                            <div class="top-content">
                                <h3>
                                    {{ artist.data.name }}
                                </h3>
                                <ul class="artist-details">
                                    {% if artist.data.day %}
                                        <li>
                                            {{ artist.data.day }}
                                        </li>
                                    {% endif %}
                                    {% if artist.data.day and artist.data.time %}
                                        <li>-</li>
                                    {% endif %}
                                    {% if artist.data.time %}
                                        <li>
                                            {{ artist.data.time }}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- End Speakers Area -->
