<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="loader">
				<div class="shadow"></div>
				<div class="box"></div>
			</div>
		</div>
		<!-- End Preloader Area -->

		{% include "components/nav.njk" %}

		{{ layoutContent | safe }}


		{% include "components/copyright.njk" %}

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevron-up'></i>
		</div>
		<!-- End Go Top Area -->

		{% include "components/scripts.njk" %}
	</body>

</html>
