<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="{{ section }}-page">
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="loader">
				<div class="shadow"></div>
				<div class="box"></div>
			</div>
		</div>
		<!-- End Preloader Area -->

		<div class="main-content">
			{% include "components/nav.njk" %}

			<div class="web-content">
				{{ layoutContent | safe }}
			</div>


			{% include "components/copyright.njk" %}
		</div>

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevron-up'></i>
		</div>
		<!-- End Go Top Area -->

		{% include "components/scripts.njk" %}
	</body>

</html>
