---
layout: layouts/base.njk
section: gefeliciteerd
---

<!-- Start Page Banner -->
<div class="artist-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Bedankt</h2>
        </div>
    </div>
</div>
<!-- End Page Banner -->


<div class="pricing-area-without-image pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <p>{{ layoutContent | safe }}</p>
        </div>
    </div>
</div>
