---
layout: layouts/base.njk
section: homepage
---

<!-- Start Main Banner Area -->
<div class="main-banner-area">
    <div class="container min-vh-100">
        <div class="row align-items-center">
            <div class="main-slides-content">
                <p class="sub-title">{{loungefest_date}}</p>
                <h1>{{ title }}</h1>
                <p>{{ subtitle }}</p>

                <div class="slides-btn">
                    <a href="pricing.html" class="default-btn">Koop je kaartje<span></span></a>

                    <a href="https://www.youtube.com/watch?v=kfPbySw8_z4?autoplay=1" class="optional-btn popup-youtube"><i class="flaticon-play-button-arrowhead"></i> Proef de sfeer!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->