---
layout: layouts/base.njk
section: homepage
---

<!-- Start Main Banner Area -->
<div class="main-banner-area" style="background-image: url({{ thumbnail }});">
    <div class="container">
        <div class="row align-items-center">
            <div class="main-slides-content">
                <div class="main-slide-bg">
                    <img src="/static/img/lf-logo-vierkant-lime-paars.svg" width="336" height="317" />
                    <h1 class="head-title">{{loungefest_date}}</h1>
                    <h4 class="sub-title">{{ subtitle }}</h4>

                    <div class="slides-btn">
                        <a href="/kaartverkoop" class="default-btn">{{button_title}}<span></span></a>

{#                        <a href="{{youtube}}" class="optional-btn popup-youtube"><i class="flaticon-play-button-arrowhead"></i> Proef de sfeer!</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->
