---
layout: layouts/base.njk
section: info
---

{{ layoutContent | safe }}
{% set infolist = collections.info %}

<!-- Start FAQ Area -->
<div class="faq-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>{{ title }}</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse.</p>
        </div>

        <div class="faq-accordion">
            <div class="accordion" id="FaqAccordion">
                {% for list in infolist | reverse %}
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{ list.data.title }}
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">
                                <p>{{ list.data.content | safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End  FAQ Area -->