---
layout: layouts/base.njk
section: info
---
{{ layoutContent | safe }}

<div class="pricing-area-without-image pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <div class="wrapper">
                <div id="app"></div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/main-style.css">
<script src="/js/chunk-vendors.b6ec443c.js"></script>
<script src="/js/app.12809a3e.js"></script>
