---
layout: layouts/base.njk
section: info
---
{{ layoutContent | safe }}

<!-- Start Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{ title }}</h2>
        </div>
    </div>
</div>
<!-- End Page Banner -->

