---
layout: layouts/base.njk
section: info
---
{{ layoutContent | safe }}

<!-- Start Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{ title }}</h2>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<div class="pricing-area-without-image pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <p>Als gevolg van een probleem met onze betaalpartner kunnen er op dit moment geen kaarten gekocht worden. Onze betaalpartner is dit probleem momenteel aan het oplossen en later vandaag kunnen er weer tickets gekocht worden.</p>
        </div>
    </div>
</div>
