---
layout: layouts/base.njk
section: ons-verhaal
---

<!-- Start Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{ title }}</h2>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Start About Us Area -->
<div class="about-us-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-us-image">
                    <div class="row">
                        test
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-us-content">
                    <h3>{{ vrijwilligers_title }}</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit duis sed odio sit amet nibh proin gravida nibh vel velit auctor aliquet aenean sollicitudin.</p>

                    <ul class="list">
                        <li><i class='bx bx-check'></i> Best Conference Consumer Behavior</li>
                        <li><i class='bx bx-check'></i> Brand Marketing SEO Specilist</li>
                        <li><i class='bx bx-check'></i> Content Marketing and Video Marketing Events</li>
                        <li><i class='bx bx-check'></i> Get Started With Leadership Conference</li>
                    </ul>

                    <div class="about-btn">
                        <a href="about.html" class="default-btn"><i class='bx bx-chevron-right'></i> About Us <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Us Area -->

<!-- Start Expect Area -->
{% set ploegenlist = collections.ploegen %}
<div class="expect-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Onze Ploegen</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco.</p>
        </div>


        <div class="expect-slides owl-carousel owl-theme">
            {% for ploeg in ploegenlist %}
                <div class="expect-item" style="background-image: url('{{ ploeg.data.thumbnail }}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
                    <h3>
                        {{ ploeg.data.title }}
                    </h3>
                    <p>{{ ploeg.data.content | safe }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Expect Area -->

<!-- Start Experience Area -->
<div class="experience-area-with-image pt-100 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="fun-fact-inner-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="fun-fact-box">
                                <div class="icon">
                                    <i class="flaticon-drink"></i>
                                </div>
                                <h3>
                                    <span class="odometer" data-count="45">00</span>
                                </h3>
                                <p>Cup of Coffe</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="fun-fact-box">
                                <div class="icon">
                                    <i class="flaticon-medal"></i>
                                </div>
                                <h3>
                                    <span class="odometer" data-count="530">00</span>
                                </h3>
                                <p>Awards Win</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="fun-fact-box bottom-0">
                                <div class="icon">
                                    <i class="flaticon-layers"></i>
                                </div>
                                <h3>
                                    <span class="odometer" data-count="1230">00</span>
                                </h3>
                                <p>Total Participants</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="fun-fact-box bottom-0">
                                <div class="icon">
                                    <i class="flaticon-customer"></i>
                                </div>
                                <h3>
                                    <span class="odometer" data-count="680">00</span>
                                </h3>
                                <p>Our Speakers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="experience-content">
                    <span>Our Experience</span>
                    <h3>Start your Journey with Us! Know a Bit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Experience Area -->

<!-- Start Speakers Area -->
<div class="speakers-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Our Speakers</span>
            <h2>Experience Speaker with Knowledge</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco.</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-speakers-box">
                    <div class="speakers-image">
                        <a href="speakers-details.html"><img src="assets/images/speakers/speakers-1.jpg" alt="image"></a>
                    </div>

                    <div class="speakers-content">
                        <div class="top-content">
                            <h3>
                                <a href="speakers-details.html">Fredric Martinsson</a>
                            </h3>
                            <b>Founder, Edilta</b>
                            <p>Call: <a href="tel:0123456789">+0 123 456 789</a></p>

                            <div class="message-icon">
                                <a href="contact.html"><i class='bx bxs-envelope'></i></a>
                            </div>
                        </div>

                        <ul class="list">
                            <li><i class="flaticon-settings"></i> Skills <span>Leadership</span></li>
                            <li><i class="flaticon-bar-chart"></i> Level</li>

                            <li class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>

                        <div class="bottom-content">
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class='bx bxl-pinterest-alt'></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="view-btn">
                                <a href="speakers-details.html" class="view-btn-one">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-speakers-box">
                    <div class="speakers-image">
                        <a href="speakers-details.html"><img src="assets/images/speakers/speakers-2.jpg" alt="image"></a>
                    </div>

                    <div class="speakers-content">
                        <div class="top-content">
                            <h3>
                                <a href="speakers-details.html">Agaton Johnsson</a>
                            </h3>
                            <b>Developer Expert</b>
                            <p>Call: <a href="tel:0123456789">+0 123 456 789</a></p>

                            <div class="message-icon">
                                <a href="contact.html"><i class='bx bxs-envelope'></i></a>
                            </div>
                        </div>

                        <ul class="list">
                            <li><i class="flaticon-settings"></i> Skills <span>Leadership</span></li>
                            <li><i class="flaticon-bar-chart"></i> Level</li>

                            <li class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>

                        <div class="bottom-content">
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class='bx bxl-pinterest-alt'></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="view-btn">
                                <a href="speakers-details.html" class="view-btn-one">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-speakers-box">
                    <div class="speakers-image">
                        <a href="speakers-details.html"><img src="assets/images/speakers/speakers-3.jpg" alt="image"></a>
                    </div>

                    <div class="speakers-content">
                        <div class="top-content">
                            <h3>
                                <a href="speakers-details.html">Melisa Lundryn</a>
                            </h3>
                            <b>Founder, Cards</b>
                            <p>Call: <a href="tel:0123456789">+0 123 456 789</a></p>

                            <div class="message-icon">
                                <a href="contact.html"><i class='bx bxs-envelope'></i></a>
                            </div>
                        </div>

                        <ul class="list">
                            <li><i class="flaticon-settings"></i> Skills <span>Leadership</span></li>
                            <li><i class="flaticon-bar-chart"></i> Level</li>

                            <li class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>

                        <div class="bottom-content">
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class='bx bxl-pinterest-alt'></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="view-btn">
                                <a href="speakers-details.html" class="view-btn-one">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="view-all-btn">
            <a href="speakers.html" class="default-btn"><i class='bx bx-chevron-right'></i> View All Speakers<span></span></a>
        </div>
    </div>
</div>
<!-- End Speakers Area -->

<!-- Start Testimonial Area -->
<div class="testimonial-area-with-image ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Testimonials</span>
            <h2>Why Our Customer Love Plonk</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco.</p>
        </div>

        <div class="testimonial-slides-two owl-carousel owl-theme">
            <div class="testimonial-item-box">
                <div class="info-box">
                    <img src="assets/images/testimonial/image-1.jpg" alt="image">
                    <h3>Thomas Albart</h3>
                    <span>CEO & Founder</span>
                </div>

                <p>“Proin gravida nibh vel velit aucrtor aliquet aenean sollicitudin lorem quis bib ndum auctor nisi elit consequat ipsum nec proin gravida nibh vel velit lrem auctor aliquet”</p>

                <ul class="rating-list">
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul>

                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
            </div>

            <div class="testimonial-item-box">
                <div class="info-box">
                    <img src="assets/images/testimonial/image-2.jpg" alt="image">
                    <h3>Agaton Johnsson</h3>
                    <span>Developer Expert</span>
                </div>

                <p>“Proin gravida nibh vel velit aucrtor aliquet aenean sollicitudin lorem quis bib ndum auctor nisi elit consequat ipsum nec proin gravida nibh vel velit lrem auctor aliquet”</p>

                <ul class="rating-list">
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul>

                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
            </div>

            <div class="testimonial-item-box">
                <div class="info-box">
                    <img src="assets/images/testimonial/image-1.jpg" alt="image">
                    <h3>Thomas Albart</h3>
                    <span>CEO & Founder</span>
                </div>

                <p>“Proin gravida nibh vel velit aucrtor aliquet aenean sollicitudin lorem quis bib ndum auctor nisi elit consequat ipsum nec proin gravida nibh vel velit lrem auctor aliquet”</p>

                <ul class="rating-list">
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul>

                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
            </div>

            <div class="testimonial-item-box">
                <div class="info-box">
                    <img src="assets/images/testimonial/image-2.jpg" alt="image">
                    <h3>Agaton Johnsson</h3>
                    <span>Developer Expert</span>
                </div>

                <p>“Proin gravida nibh vel velit aucrtor aliquet aenean sollicitudin lorem quis bib ndum auctor nisi elit consequat ipsum nec proin gravida nibh vel velit lrem auctor aliquet”</p>

                <ul class="rating-list">
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                    <li><i class='bx bxs-star'></i></li>
                </ul>

                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Area -->
<!-- End Main Banner Area -->