---
layout: layouts/base.njk
section: ons-verhaal
---

<!-- Start Page Banner -->
<div class="artist-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{ title }}</h2>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Start Expect Area -->
{% set ploegenlist = collections.ploegen %}
<div class="expect-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Onze Ploegen</h2>
        </div>


        <div class="expect-slides owl-carousel owl-theme">
            {% for ploeg in ploegenlist %}
                <div class="expect-item" style="background-image: url('{{ ploeg.data.thumbnail }}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
                    <h3>
                        {{ ploeg.data.title }}
                    </h3>
                    <p>{{ ploeg.data.content | safe }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Expect Area -->
