---
layout: layouts/base.njk
section: nieuws-items
---

<!-- Start Blog Details Area -->
<div class="vacature-details-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="vacature-details-desc">
          <div class="article-content">

            <h1>{{ title }}</h1>
            <p>{{ layoutContent | safe }}</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<!-- End Blog Details Area -->
