---
layout: layouts/base.njk
section: nieuws
---

{{ layoutContent | safe }}

{% set nieuwslist = collections.vacatures %}


<!-- Start Page Banner -->
<div class="artist-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Vacatures</h2>
        </div>
    </div>
</div>
<!-- End Page Banner -->

{% set vacaturelist = collections.vacatures %}

<!-- Start Speakers Area -->
<div class="speakers-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            {% for vacature in vacaturelist %}
                <div class="col-md-6 speaker-wrapper" data-tag="{{ vacature.data.day }}">
                    <a href="{{ vacature.url }}" class="single-speakers-box single-vacature-box">
                        <div class="speakers-content">
                            <div class="top-content">
                                <h3>
                                    {{ vacature.data.title }}
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- End Speakers Area -->
